*, *::before, *::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root{
--main-text-color: #CCC;
--main-background-color: #111;
}

*{
    /* outline: 1px solid red; */
}
body{
    color: var(--main-text-color);
    background: var(--main-background-color);
    display:flex;
    height: 100vh;
    flex-direction: row-reverse;
    justify-content: space-between;
    min-width: 100%;
}

main{
    display: flex; 
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 100vh
}

main article{
    text-align: center;
}

.main-nav__tabs, .aux-nav__tabs{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none; 
}

.aux-nav__tab button{
    width: 80px;    
}

main article > section:first-of-type span{
    display: block;
}

.local-time{
    font-size: 5rem;
}
.ground-control-time{
    font-size: 2rem;
}
.task__current{
    display: flex;
}